<!DOCTYPE html>
<html>
<head>
    <title>Localiza SIM</title>
    <meta charset="utf-8">
    <meta name="author" 		content="Felipe P. Stival">
    <meta name="description" 	content="Localiza SIM, o sistema integrado que funciona">
    <meta name="keywords" 		content="SIM, Onibus, Santa Maria">
    <meta name="viewport" 		content="width=device-width, inicial-scale=1.0">
    <link href="/static/formStylesheet.css" rel="stylesheet" media="screen">
</head>

<body>
	<div id="container">
    <header>
		<img src="/static/logo_01.png" id="logo"/>
		<center><h1>Localiza SIM</h1></center>
    </header>
    <content>
        {% block content %} {% endblock %}
    </content>
    </div>
</body>

</html>
