{% extends "layout.html" %}
{% block content %}
<form action="/step3/" method="POST">
	Inicio:
	<select name="begin">
			{% for schedule in schedules %}
			<option value="{{schedule[0]}}"> {{schedule[0]}} </option>
			{% endfor %}
	</select>
	Fim:
	<select name="end">
			{% for schedule in schedules %}
			<option value="{{schedule[1]}}"> {{schedule[1]}} </option>
			{% endfor %}
	</select>
	<input type="hidden" name="period" value="{{period}}"/>
	<input type="submit" value="Submit">
</form>
{% endblock %}

